@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Inter;
}

:root {
  --primary: #199cdb;
}

html {
  scroll-behavior: smooth;
}
a {
  text-decoration: none;
}

.row {
  max-width: 1024px;
  width: 100%;
  height: 100%;
  margin: 0 auto;
  padding: 0 16px;
}

.container {
  padding: 80px 0;
}
/* nav */

nav {
  width: 100%;
  height: 80px;
}

.nav__row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav__logo {
  font-size: 24px;
  color: var(--primary);
}

.nav__link {
  margin: 0 8px;
  color: black;
}

.nav__link__button {
  padding: 8px 12px;
  background-color: var(--primary);
  font-size: 16px;
  border: none;
  border-radius: 4px;
  color: white;
  cursor: pointer;
}

/* Header */
.header__row {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
  text-align: center;
}

.header__title {
  font-size: 36px;
}

.header__button {
  background-color: var(--primary);
  padding: 10px 20px;
  color: white;
  border: none;
  border-radius: 4px;
  font-weight: 500;
}

.header__image {
  max-width: 100%;
}

/* products */
#products {
  background-color: #f6f6f6;
}

.products__row {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 16px;
}

.products__cards {
  display: flex;
  flex-wrap: wrap;
}

.products__title {
  font-size: 32px;
}

.products__para {
  max-width: 600px;
  line-height: 1.5;
}

.card {
  width: calc(100% / 3);
  padding: 32px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 17px;
}

.card__icon {
  background-color: var(--primary);
  color: white;
  width: 72px;
  height: 72px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 28px;
  border-radius: 9999px;
}

.card__title {
  font-size: 24px;
  font-weight: 500;
}

.card__para {
  font-size: 14px;
  line-height: 1.5;
}

/* features */
.features__row {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 16px;
}

.features__title {
  font-size: 32px;
}

.features__para {
  max-width: 600px;
  line-height: 1.5;
}

.feature {
  display: flex;
  gap: 64px;
  margin-top: 64px;
  max-width: 800px;
}

.feature__image {
  width: 50%;
}

.feature__text {
  display: flex;
  flex-direction: column;
  text-align: left;
  justify-content: center;
  align-items: start;
  gap: 8px;
}

.feature__title {
  font-size: 24px;
}

.feature__link {
  font-size: 14px;
  font-weight: 700;
  color: var(--primary);
  padding-bottom: 2px;
  transition: 200ms;
  border-bottom: 1px solid transparent;
}

.feature__link:hover {
  border-color: var(--primary);
}

/* Reviews */

#reviews {
  background-color: #f6f6f6;
}

.reviews__row {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 16px;
}

.reviews__title {
  font-size: 32px;
}

.reviews__para {
  max-width: 600px;
  line-height: 1.5;
}

.review {
  display: flex;
  max-width: 700px;
  height: 300px;
  border-radius: 4px;
  overflow: hidden;
  margin-top: 32px;
}

.review__text,
.review__credit {
  width: 50%;
}

.review__text {
  background-color: var(--primary);
  color: white;
  font-size: 18px;
  font-weight: 500;
  line-height: 1.5;
  padding: 32px;
  text-align: justify;
  display: flex;
  align-items: center;
}

.review__credit {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 4px;
  background-color: white;
}

.review__image {
  width: 64px;
  height: 64px;
  border-radius: 9999px;
}

.review__rating {
  color: #fcc470;
  font-size: 8px;
  margin-top: 4px;
}

.review__name {
  font-size: 14px;
  font-weight: 700;
  margin-top: 4px;
}

.review__occupation {
  font-size: 12px;
}

/* pricing */

.pricing__row {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 16px;
}

.pricing__title {
  font-size: 32px;
}

.pricing__para {
  max-width: 600px;
  line-height: 1.5;
}

.pricing__plan {
  display: flex;
  width: 100%;
  gap: 32px;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 40px;
}

.plan {
  max-width: 310px;
  width: 100%;
  height: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
  box-shadow: 0px 8px 12px rgb(0, 0, 0, 0.1);
  padding: 32px 12px;
}

.plan__title {
  font-size: 28px;
  color: var(--primary);
}

.plan__para {
  font-size: 48px;
  color: var(--primary);
}

.plan__price {
  font-size: 24px;
  font-weight: 700;
  color: var(--primary);
}

.plan__features {
  flex-direction: column;
  display: flex;
  margin-top: 32px;
  gap: 16px;
  list-style: none;
}

.plan__feature {
  font-size: 14px;
  font-weight: 500;
}

.plan__button {
  margin-top: 12px;
  background-color: var(--primary);
  border: none;
  color: white;
  padding: 15px 20px;
  border-radius: 4px;
}

/* footer */
footer {
  height: 64px;
  background-color: var(--primary);
  color: white;
}

.footer__row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer__logo {
  font-size: 18px;
  font-weight: 500;
}

.footer__link {
  margin: 0 8px;
  color: white;
  font-size: 14px;
}

/* tablet */

@media (max-width: 768px) {
  .nav__link,
  .nav__link__button {
    font-size: 14px;
  }
  .header__title {
    font-size: 32px;
  }
  .header__para {
    font-size: 14px;
  }
  .header__button {
    font-size: 12px;
  }
  .card {
    width: 500%;
  }
  .footer__title {
    font-size: 20px;
  }
  .footer__para {
    font-size: 14px;
  }
  .footer__text {
    font-size: 16px;
  }
}

/* smartphones */
@media (max-width: 480px) {
  .nav__link:not(:last-child) {
    display: none;
  }
  .header__title {
    font-size: 24px;
  }
  .products__title,
  .reviews__title,
  .features__title,
  .pricing__title {
    font-size: 24px;
  }
  .products__para,
  .reviews__para,
  .features__para,
  .pricing__para {
    font-size: 14px;
  }

  .card {
    width: 100%;
    padding: 20px;
  }
  .card__title {
    font-size: 20px;
  }

  .card__para {
    font-size: 12px;
  }
  .feature {
    flex-direction: column;
  }
  .feature:last-child {
    flex-direction: column-reverse;
  }

  .feature__image {
    width: 100%;
  }
  .feature__text {
    align-items: center;
    text-align: center;
  }
  .review {
    flex-direction: column;
    height: 400px;
    width: 100%;
  }

  .review__text,
  .review__credit {
    width: 100%;
    height: 50%;
  }

  .footer__logo {
    display: none;
  }
  .footer__row {
    justify-content: center;
  }
  .footer__link {
    margin: 0 4px;
  }
}
